<ion-header background="dark">
    <page-navbar [menu]="false">
        <div buttons>
        </div>
        <span nav-title> <b>Datos personales</b> | Editar </span>
    </page-navbar>
</ion-header>

<ion-content profile-paciente>
    <div class="no-item" *ngIf="inProgress">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>
    <div class="andes-detalle" *ngIf="paciente">
        <div class="no-item" *ngIf="inProgress">
            <ads-icon icon="ball-triangle"></ads-icon>
        </div>
        <div class="andes-detalle-contenedor" *ngIf="!inProgress">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <span class="badge success">{{ paciente.estado }}</span>
                        <div class="titulo-prefix">Nombre Completo</div>
                        <div class="titulo-principal md text-capitalize">
                            {{paciente.nombre.toLowerCase()}}
                            <br>
                            <span>{{paciente.apellido.toLowerCase()}}</span>
                        </div>
                        <div class="titulo-subfix">
                            {{paciente.sexo}}
                        </div>
                        <hr class="xs cyan" />
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="andes-detalle-contenedor">
            <ion-grid>
                <ion-row>
                    <ion-col col-6>
                        <div class="andes-container display-flex">
                            <ion-icon class="icon-action left icon-inline-xl" name="md-calendar"></ion-icon>
                            <div class="andes-wraper">
                                <div class="andes-item-prefix">Fecha de nacimiento</div>
                                <div class="andes-inline-value">
                                    {{ paciente.fechaNacimiento | date: "dd/MM/yyyy" }}
                                </div>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col col-6>
                        <div class="andes-container display-flex">
                            <ion-icon class="icon-action left icon-inline-xl" name="md-person"></ion-icon>
                            <div class="andes-wraper">
                                <div class="andes-item-prefix">Nro. de Documento</div>
                                <div class="andes-inline-value">
                                    {{ paciente.documento }}
                                </div>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
                <hr class="xs blanco" />
                <ion-row>
                    <ion-col>
                        <div class="andes-container display-flex">
                            <ion-icon class="icon-action left icon-inline-xl" name="md-water"></ion-icon>
                            <ion-item>
                                <ion-label floating>Mi Grupo Sanguíneo</ion-label>
                                <ion-select [(ngModel)]="pacienteLocalStorage.grupoFactor" (ngModelChange)="updateBlood()"
                                    okText="Aceptar" cancelText="Cancelar">
                                    <ion-option value="0">0 -</ion-option>
                                    <ion-option value="1">0 +</ion-option>
                                    <ion-option value="2">A -</ion-option>
                                    <ion-option value="3">A +</ion-option>
                                    <ion-option value="4">B -</ion-option>
                                    <ion-option value="5">B +</ion-option>
                                    <ion-option value="6">AB -</ion-option>
                                    <ion-option value="7">AB +</ion-option>
                                </ion-select>
                            </ion-item>
                        </div>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </div>
    </div>
</ion-content>
