<ion-header background="dark">
    <page-navbar [menu]="false">
        <span nav-title> Turnos disponibles </span>
    </page-navbar>
</ion-header>

<ion-content>
    <div class="no-item" *ngIf="false">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>

    <ul *ngIf="bloques?.length > 0" class="andes-list" compact>
        <li *ngFor="let turno of turnos">
            <div class="andes-container" (click)="darTurno(turno)">
                <div class="andes-wraper">
                    <div class="andes-list-content">
                        <div class="columna">
                            <ion-icon name="md-time"></ion-icon>
                            <span class="andes-list-subtitle">{{turno.horaInicio | date: "hh:mm" }} </span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div *ngIf="bloques?.length === 0" class="no-item">
        <h3> No hay turnos disponibles en esta agenda </h3>
    </div>
</ion-content>