<ion-header background="dark">
    <page-navbar [menu]="false">
        <div buttons>
        </div>
        <span nav-title> <b>Autocontrol</b> | Registro de Peso</span>
    </page-navbar>
</ion-header>

<ion-content>
    <div class="no-item" *ngIf="inProgress">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>
    <div>
        <ion-avatar item-start>
            <ion-icon name="clipboard" class="icon-action-default icon-inline-xl" item-start></ion-icon>
        </ion-avatar>
        <div *ngIf="ultimoPeso" class="andes-list-prefix">Último peso registrado
            <h2 class="valor-longitudinal-lg">
                {{ ultimoPeso }} kg
            </h2>
        </div>
        <p *ngIf="!ultimoPeso">
            No hay registros
        </p>
        <button *ngIf="newRegistry" ion-button outline item-end (click)="flagPeso = true; newRegistry = false">
            Registrar nuevo
        </button>
    </div>
    <div>
        <ion-grid>
            <ion-row *ngIf="flagPeso">
                <ion-col col-12>
                    <ion-item>
                        <ion-label stacked>Fecha: </ion-label>
                        <ion-datetime displayFormat="DD/MM/YYYY HH:mm" doneText="Aceptar" cancelText="Cancelar"
                            placeholder="tocá para ingresar una fecha" [(ngModel)]="pesoFecha"></ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col col-12>
                    <ion-item>
                        <ion-label stacked>Peso: </ion-label>
                        <ion-input [(ngModel)]="pesoValor" placeholder="peso en kilogramos" type="number" (ionClear)="onClear($event)"
                            ionic-input-clearable></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="flagPeso">
                <ion-col>
                    <ion-item class="item-lg">
                        <button ion-button clear item-start (click)="cancelarPeso()">
                            <ion-icon name="close-circle" class="icon-action-danger icon-inline-xl"></ion-icon>
                            <!-- Cancelar -->
                        </button>
                        <button ion-button clear item-end (click)="guardarPeso()">
                            <ion-icon name="checkmark-circle" class="icon-action-success icon-inline-xl"></ion-icon>
                            <!-- Guardar -->
                        </button>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="datosGraficar && pacienteLocalStorage?.historico?.length">
                <ion-col>
                    <ion-item>
                        <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
                            [options]="lineChartOptions" [colors]="lineChartColors" (chartHover)="onChartHover($event)"
                            [chartType]="lineChartType"></canvas>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="ultimoPeso">
                <ion-col>
                    <ion-item class="item-lg">
                        <button ion-button clear item-start (click)="eliminarPeso()">
                            <ion-icon name="close-circle" class="icon-action-danger icon-inline-xl"></ion-icon>
                        </button>
                        <span class="text-sm">
                            Eliminar último<br>registro de Peso
                        </span>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>

</ion-content>
