<ion-header background="dark">
    <page-navbar [menu]="false">
        <div buttons>
        </div>
        <span nav-title> <b>Autocontrol</b> | Registro de Peso</span>
    </page-navbar>
</ion-header>

<ion-content profile-paciente>
    <div class="no-item" *ngIf="inProgress">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>

    <!-- <div class="no-item" *ngIf="inProgress">
            <ads-icon icon="ball-triangle"></ads-icon>
        </div> -->

    <ion-item>
        <ion-avatar item-start>
            <ion-icon name="clipboard" class="icon-action-default icon-inline-xl" item-start></ion-icon>
        </ion-avatar>
        <div *ngIf="ultimoPeso" class="andes-list-prefix">Último peso registrado
            <h2 class="valor-longitudinal-lg">
                {{ ultimoPeso }} kg
            </h2>
        </div>
        <p *ngIf="!ultimoPeso">
            No hay registros de peso
        </p>
        <button ion-button outline item-end (click)="flagPeso = true">
            Registrar nuevo peso
        </button>
    </ion-item>
    <ion-grid>
        <ion-row *ngIf="flagPeso">
            <ion-col>
                <ion-item>
                    <ion-label>Fecha: </ion-label>
                    <ion-datetime displayFormat="DD/MM/YYYY HH:mm" [(ngModel)]="pesoFecha"></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-input [(ngModel)]="pesoValor" placeholder="peso" type="number" (ionClear)="onClear($event)"
                    ionic-input-clearable></ion-input>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="flagPeso">
            <ion-col col-12>
                <ion-list>
                    <ion-item>
                        <button ion-button clear item-start (click)="cancelarPeso()">
                            <ion-icon name="close-circle" class="icon-action-danger icon-inline-xl"></ion-icon>
                        </button>
                        <button ion-button clear item-end (click)="guardarPeso()">
                            <ion-icon name="checkmark-circle" class="icon-action-success icon-inline-xl"></ion-icon>
                        </button>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="datosGraficar">
            <ion-col col-12>
                <div>
                    <canvas baseChart width="800" height="600" [datasets]="lineChartData" [labels]="lineChartLabels"
                        [options]="lineChartOptions" [colors]="lineChartColors" [chartType]="lineChartType"></canvas>
                </div>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>
