<ion-header background="dark">
    <page-navbar [menu]="false">
        <div buttons>
        </div>
        <span nav-title> <b>Autocontrol</b> | Registro de Talla</span>
    </page-navbar>
</ion-header>

<ion-content profile-paciente>
    <div class="no-item" *ngIf="inProgress">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>
    <div>
        <ion-avatar item-start>
            <ion-icon name="stats" class="icon-action-default icon-inline-xl" item-start></ion-icon>
        </ion-avatar>
        <div *ngIf="ultimaTalla" class="andes-list-prefix">Última talla registrada
            <h2 class="valor-longitudinal-lg">
                {{ ultimaTalla }} cm
            </h2>
        </div>
        <p *ngIf="!ultimaTalla">
            No hay registros
        </p>
        <button *ngIf="newRegistry" ion-button outline item-end (click)="flagTalla = true; newRegistry = false">
            Registrar nuevo
        </button>
    </div>
    <div>
        <ion-grid>
            <ion-row *ngIf="flagTalla">
                <ion-col col-12>
                    <ion-item>
                        <ion-label stacked>Fecha: </ion-label>
                        <ion-datetime displayFormat="DD/MM/YYYY HH:mm" doneText="Aceptar" cancelText="Cancelar"
                            placeholder="tocá para ingresar una fecha" [(ngModel)]="tallaFecha"></ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col col-12>
                    <ion-item>
                        <ion-label stacked>Talla: </ion-label>
                        <ion-input [(ngModel)]="tallaValor" placeholder="talla en centímetros" type="number" (ionClear)="onClear($event)"
                            ionic-input-clearable></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="flagTalla">
                <ion-col>
                    <ion-item class="item-lg">
                        <button ion-button clear item-start (click)="cancelarTalla()">
                            <ion-icon name="close-circle" class="icon-action-danger icon-inline-xl"></ion-icon>
                            <!-- Cancelar -->
                        </button>
                        <button ion-button clear item-end (click)="guardarTalla()">
                            <ion-icon name="checkmark-circle" class="icon-action-success icon-inline-xl"></ion-icon>
                            <!-- Guardar -->
                        </button>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="datosGraficar && pacienteLocalStorage?.historico?.length">
                <ion-col col-12>
                    <div>
                        <canvas baseChart width="800" height="600" [datasets]="lineChartData" [labels]="lineChartLabels"
                            [options]="lineChartOptions" [colors]="lineChartColors" [chartType]="lineChartType"></canvas>
                    </div>
                </ion-col>
            </ion-row>
            <br>
            <ion-row *ngIf="ultimaTalla">
                <ion-col>
                    <ion-item class="item-lg">
                        <button ion-button clear item-start (click)="eliminarTalla()">
                            <ion-icon name="close-circle" class="icon-action-danger icon-inline-xl"></ion-icon>
                        </button>
                        <span class="text-sm">
                            Eliminar último<br>registro de Talla
                        </span>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
