<ion-header background="dark">
    <page-navbar [menu]="false">
        <div buttons>
        </div>
        <span nav-title> <b>Autocontrol</b> | Registro de Presión Arterial</span>
    </page-navbar>
</ion-header>

<ion-content profile-paciente>
    <div class="no-item" *ngIf="inProgress">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>

    <div class="andes-detalle">
        <div class="no-item" *ngIf="inProgress">
            <ads-icon icon="ball-triangle"></ads-icon>
        </div>
        <div class="andes-detalle-contenedor" *ngIf="!inProgress">
            <!-- ver que ponemos aca -->
        </div>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div class="andes-wraper">

                        <ion-icon class="icon-action left xl" name="md-calendar"></ion-icon>
                        <div class="andes-list-prefix">Último presión arterial medida</div>
                        <h2 class="andes-list-title">
                            {{pacienteLocalStorage.presion.sistolica}} - {{pacienteLocalStorage.presion.diastolica}}
                        </h2>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="flagPresion">
                <ion-col col-4>
                    <ion-item>

                        <ion-label>Fecha:</ion-label>
                        <ion-datetime displayFormat="DD/MM/YYYY HH:mm" [(ngModel)]="presionFecha"></ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col col-4>
                    <ion-range min="10" max="250" step="1" snaps="true" [(ngModel)]="pacienteLocalStorage.presion.sistolica"
                        color="danger">
                        <ion-icon range-left small color="danger" name="thermometer"></ion-icon>
                        <ion-icon range-right color="danger" name="thermometer"></ion-icon>
                    </ion-range>
                </ion-col>
                <ion-col col-4>
                    <ion-range min="10" max="250" step="1" snaps="true" [(ngModel)]="pacienteLocalStorage.presion.diastolica"
                        color="danger">
                        <ion-icon range-left small color="danger" name="thermometer"></ion-icon>
                        <ion-icon range-right color="danger" name="thermometer"></ion-icon>
                    </ion-range>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="flagPresion">
                <ion-col col-12>
                    <button class="md rounded block success" (click)="guardarPresion()">
                        Guardar
                    </button>
                    <button class="md rounded block warning" (click)="cancelarPresion()">
                        Cancelar
                    </button>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="datosGraficar">
                <ion-col col-12>
                    <div>
                        <canvas baseChart width="800" height="600" [datasets]="lineChartDataPresion" [labels]="lineChartLabelsPresion"
                            [options]="lineChartOptionsPresion" [colors]="lineChartColorsPresion" [chartType]="lineChartTypePresion"></canvas>
                    </div>
                </ion-col>

            </ion-row>
        </ion-grid>
    </div>

</ion-content>
