
// SEPARADORES
hr {

	border-bottom-width: 4px;
	border-bottom-style: solid;
	margin: 25px 0 !important;

	&.blanco {
		border-color: white;
	}

	&.gris {
		border-color: $gris;
	}

	&.magenta {
		border-color: $danger;
	}

	&.cyan {
		border-color: $info;
	}

	&.celeste {
		border-color: $celeste;
	}

	// Variantes de tamaño
	&.xxxs {
		width: 5%;
	}

	&.xxs {
		width: 10%;
	}
	
	&.xs {
		width: 35px;
	}
	
	&.sm {
		width: 35%;
	}
	
	&.md {
		width: 50%;
	}
	
	&.lg {
		width: 75%;
	}
	
	&.xl {
		width: 100%;
		
	}
}
