<ion-header background="dark">
    <page-navbar [menu]="false">
        <span nav-title> Mis Solicitudes | Listado </span>
    </page-navbar>
</ion-header>

<ion-content>

    <div *ngIf="!solicitudes" class="no-item">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>

    <ul class="andes-list" *ngIf="solicitudes?.length > 0">
        <li *ngFor="let solicitud of solicitudes">
            <div class="andes-container" (click)="showDetail(solicitud)">
                <div class="andes-wraper">
                    <!-- <h2 class="andes-list-title">
                        <h2>  {{ solicitud.solicitud?.tipoPrestacion?.term }} </h2>
                    </h2> -->
                    <div class="andes-list-content">
                        <div class="columna">
                            <ion-icon name="md-calendar"></ion-icon>
                            <span class="andes-list-subtitle">{{ solicitud.solicitud?.fecha | date: "d 'de' MMMM 'del' yyyy"}} </span>
                        </div>
                    </div>
                    <div class="andes-list-content">
                        <div class="columna">
                            <ion-icon name="andes-hospital"></ion-icon>
                            <span class="andes-list-subtitle"> {{ solicitud.solicitud?.organizacion?.nombre }} </span>
                        </div>
                    </div>
                    <div class="andes-list-content">
                        <div class="columna">
                            <ion-icon name="andes-paciente"></ion-icon>
                            <span class="andes-list-subtitle"> {{ solicitud.solicitud?.tipoPrestacion?.term }} </span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <div *ngIf="solicitudes?.length == 0" class="no-item">
        <h3> No tienes ningúna solicitud </h3>
    </div>
</ion-content>